@{
    ViewBag.Title = "Historial de Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<HermeSoft_Fusion.Models.Venta>

@{
    var condominios = ViewBag.Condominios as List<HermeSoft_Fusion.Models.Servicios.Condominio>;
}
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm rounded-4 p-4">
            <form asp-action="Index" method="post">
                <div class="row g-3 mb-3">
                    <div class="col-md-3 d-flex align-items-center gap-2">
                        <label for="filterDesde" class="form-label mb-0">Desde:</label>
                        <input type="date" id="filterDesde" name="filterDesde" class="form-control" />
                    </div>

                    <div class="col-md-3 d-flex align-items-center gap-2">
                        <label for="filterHasta" class="form-label mb-0">Hasta:</label>
                        <input type="date" id="filterHasta" name="filterHasta" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <select id="filterCondominio" name="filterCondominio" class="form-select">
                            <option value="" default hidden>Todos los condominios</option>
                            @foreach (var condominio in condominios)
                            {
                                <option value="@condominio.Id">@condominio.Nombre</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-3 d-flex gap-2">
                        <button id="btnFiltrar" class="btn btn-outline-primary">Buscar</button>
                        <a asp-action="Index" class="btn btn-outline-warning">Reiniciar</a>
                    </div>
                </div>
            </form>

            <div id="historialMessages" class="mb-3"></div>

            <div class="table table-responsive">
                <table class="table table-hover table-bordered" id="tablaVentas">
                    <thead class="table-dark">
                        <tr>
                            <th>Contrato</th>
                            <th>Cliente</th>
                            <th>Lote</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model == null || !Model.Any())
                        {
                            <tr>
                                <td colspan="7" class="text-center">No se encontraron ventas</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var venta in Model)
                            {
                                <tr>
                                    <td>@venta.NumContrato</td>
                                    <td>@venta.CorreoCliente</td>
                                    <td>@venta.CodLote</td>
                                    <td>@venta.FechaDeRegistro.ToString("dd/MM/yyyy")</td>
                                    <td>@venta.Estado</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

