@{
    ViewBag.Title = "Detalle de Prima";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<DesglosesPrimas> desgloses = ViewBag.Desgloses;
}
<div class="row mb-2">
    <div class="col">
        <div class="card border-0 shadow-sm rounded-3 p-3 h-100">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5>Datos Necesarios para Prima</h5>
                <a asp-controller="Lote" asp-action="Index" class="btn btn-light border"><i class="fas fa-arrow-left me-2"></i> Volver</a>
            </div>

            <input id="lote" type="hidden" value="@TempData["lote"]" />
            <div class="mb-3">
                <label>% Prima</label>
                <input type="number" id="porcPrima" class="form-control" placeholder="%" />
            </div>

            <div class="mb-3">
                <label>Fecha vencimiento *</label>
                <input type="date" id="fechaPrima" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-12">
                <button type="button" id="calcPrima" class="btn btn-outline-primary w-100 d-none">
                    Calcular prima
                </button>
            </div>
        </div>
    </div>
</div>
@if (desgloses.Any())
{
    <div class="row" id="detallePrima">
        <div class="col">
            <div class="card border-0 shadow-sm rounded-4 p-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="fw-bold">Detalle de Prima</h4>
                </div>

                <div>
                    <table class="table align-middle">
                        <thead class="bg-light">
                            <tr>
                                <th>Fecha de Pago</th>
                                <th>Monto a Pagar</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DesglosesPrimas desglose in desgloses)
                            {
                                <tr>
                                    <td>@desglose.FechaCobro.ToString("dd/MM/yyyy")</td>
                                    <td>@desglose.Monto</td>
                                    <td>@desglose.Estado</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/assets/js/calculos.js"></script>
}