@using HermeSoft_Fusion.Models
@using System.Text.Json
@using HermeSoft_Fusion.Models.ViewModels
@model PrimaViewModel
@{
    ViewBag.Title = "Detalle de Prima";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var desglosesSinDescuento = Model.DesglosesSinDescuento ?? new List<DesglosesPrimas>();
    var desglosesConDescuento = Model.DesglosesConDescuento ?? new List<DesglosesPrimas>();
    decimal porcentajeDescuento = Model.PorcentajeDescuento;
    decimal porcentaje = Model.Porcentaje;
    DateTime fechaCierre = Model.FechaCierre;
    bool aplicarDescuento = Model.AplicarDescuento;
}

<div class="card shadow-sm mb-4 border-0">
    @if (!string.IsNullOrEmpty(Model.MensajeErrorPrima))
    {
        <div class="alert alert-danger">@Model.MensajeErrorPrima</div>
    }

    @if (!string.IsNullOrEmpty(Model.MensajeExitoPrima))
    {
        <div class="alert alert-success">
            <p>@Model.MensajeExitoPrima</p>
            <a class="btn btn-primary" asp-action="StepperRegistro" asp-route-lote="@Model.Lote"
                   asp-route-cliente="@Model.Cliente">
                Continuar Venta
            </a>
        </div>
    }
</div>

<div class="row mb-2">
    <div class="col">
        <div class="card border-0 shadow-sm rounded-3 p-3 h-100">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5>Datos Necesarios para Prima</h5>
                <a asp-controller="Lote" asp-action="Index" class="btn btn-light border">
                    <i class="fas fa-arrow-left me-2"></i> Volver
                </a>
            </div>

            <input id="lote" type="hidden" asp-for="Lote" form="formAgregarPrima" />


            <div class="mb-3">
                <label>% Prima</label>
                <input type="number" id="porcPrima" asp-for="Porcentaje" form="formAgregarPrima" class="form-control" placeholder="%" />
            </div>


            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="aplicaDescuentoPrima" @(aplicarDescuento ? "checked" : "") />
                <label class="form-check-label" for="aplicaDescuentoPrima">
                    Aplicar descuento
                </label>
            </div>

            <div class="mb-3 @(aplicarDescuento ? "" : "d-none")" id="contenedorDescuentoPrima">
                <label>% Descuento</label>
                <input type="number"
                       id="descuentoPrima"
                       class="form-control"
                       placeholder="%"
                       min="0"
                       max="100"
                       value="@porcentajeDescuento"
                       @(aplicarDescuento ? "" : "disabled") />
            </div>

            <div class="mb-3">
                <label>Fecha vencimiento *</label>
                <input type="date"
                       id="fechaPrima"
                       class="form-control"
                       asp-for="FechaCierre"
                       value="@Model.FechaCierre.ToString("yyyy-MM-dd")"
                       min="@DateTime.Now.ToString("yyyy-MM-dd")"
                       form="formAgregarPrima" />
            </div>

            <div class="col-12 mb-3">
                <button type="button" id="calcPrima" class="btn btn-outline-primary w-100 d-none">
                    Calcular prima
                </button>
            </div>
            @if (Model.TieneDesglose)
            {
                <div class="col-12">
                    <button type="button" id="almacenarPrima" class="btn btn-primary w-100"
                            data-bs-toggle="modal"
                            data-bs-target="#modalNuevaPrima">
                        Registrar Prima Para Venta
                    </button>
                </div>
            }
        </div>
    </div>
</div>

@if (Model.TieneDesglose)
{
    <div class="row g-4" id="detallePrima">

        <div class="col-md-@(desglosesConDescuento.Any() ? "6" : "12")">
            <div class="card border-0 shadow-sm rounded-4 p-4 h-100">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="fw-bold">Prima sin descuento</h4>
                </div>

                <table class="table align-middle">
                    <thead class="bg-light">
                        <tr>
                            <th>Fecha de Pago</th>
                            <th>Monto a Pagar</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DesglosesPrimas desglose in desglosesSinDescuento)
                        {
                            <tr>
                                <td>@desglose.FechaCobro.ToString("dd/MM/yyyy")</td>
                                <td>₡@desglose.Monto.ToString("N2")</td>
                                @if(desglose.Estado == "Pendiente")
                                {
                                    <td><span class="badge bg-warning rounded-pill px-3 py-2 me-2">@desglose.Estado</span></td>
                                }else if (desglose.Estado == "Pagado")
                                {
                                    <td><span class="badge bg-success rounded-pill px-3 py-2 me-2">@desglose.Estado</span></td>
                                }
                                else
                                {
                                    <td><span class="badge bg-danger rounded-pill px-3 py-2 me-2">@desglose.Estado</span></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @if (desglosesConDescuento.Any())
        {
            <div class="col-md-6">
                <div class="card border-0 shadow-sm rounded-4 p-4 h-100">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="fw-bold">Prima con descuento</h4>
                    </div>

                    <table class="table align-middle">
                        <thead class="bg-light">
                            <tr>
                                <th>Fecha de Pago</th>
                                <th>Monto a Pagar</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DesglosesPrimas desglose in desglosesConDescuento)
                            {
                                <tr>
                                    <td>@desglose.FechaCobro.ToString("dd/MM/yyyy")</td>
                                    <td>₡@desglose.Monto.ToString("N2")</td>
                                    @if (desglose.Estado == "Pendiente")
                                    {
                                        <td><span class="badge bg-warning rounded-pill px-3 py-2 me-2">@desglose.Estado</span></td>
                                    }
                                    else if (desglose.Estado == "Pagado")
                                    {
                                        <td><span class="badge bg-success rounded-pill px-3 py-2 me-2">@desglose.Estado</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge bg-danger rounded-pill px-3 py-2 me-2">@desglose.Estado</span></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
}

<div class="modal fade" id="modalNuevaPrima" tabindex="-1" aria-labelledby="modalNuevaPrimaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevaPrimaLabel">Registro de prima</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">

                <form id="formAgregarPrima" asp-controller="Ventas" asp-action="AgregarPrima" method="post" class="needs-validation" novalidate>
                    <div class="row g-3">

                        <div class="col-md-12">
                            <label class="form-label">Correo del Cliente</label>
                            <input type="email" class="form-control" asp-for="CorreoCliente" placeholder="Correo Cliente" required>
                        </div>
                    </div>
                    @if (desglosesConDescuento.Any())
                    {
                        <input type="hidden" name="desgloseConDescuentoJson"
                                value='@JsonSerializer.Serialize(desglosesConDescuento)' />
                    }
                    else
                    {
                        <input type="hidden" name="desgloseSinDescuentoJson"
                               value='@JsonSerializer.Serialize(desglosesSinDescuento)' />
                    }

                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">
                            Guardar Prima
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/js/calculos.js"></script>
}