@model BancoRequest
@{
    ViewBag.Title = "Bancos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registro de Bancos</h4>
                <p class="card-title-desc">
                    En este apartado se podr&aacute;n registrar nuevos bancos completando el siguiente formulario.
                </p>

                @if (TempData["MensajeError"] != null)
                {
                    <div class="alert alert-danger">@TempData["MensajeError"]</div>
                }

                @if (TempData["MensajeExito"] != null)
                {
                    <div class="alert alert-success">@TempData["MensajeExito"]</div>
                }

                <form asp-controller="Banco" asp-action="Registro" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Nombre" class="form-label">Nombre del Banco</label>
                                <input type="text" class="form-control" id="Nombre" name="Nombre" asp-for="Nombre" placeholder="Nombre del Banco" required>
                                <div class="valid-feedback">Excelente!</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="Enlace" class="form-label">Enlace Web del Banco</label>
                                <input type="text" class="form-control" id="Enlace" name="Enlace" asp-for="Enlace" placeholder="Enlace Web del Banco" required>
                                <div class="valid-feedback">Excelente!</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="LogoFile" class="form-label">Logo del Banco</label>
                                <div class="input-group">
                                    <input type="file" class="form-control" id="LogoFile" name="LogoFile" accept="image/*" required>
                                </div>
                                <div class="invalid-feedback">Ingrese un valor v&aacute;lido.</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="MaxCredito" class="form-label">Plazo M&aacute;ximo de Cr&eacute;dito</label>
                                <input type="number" class="form-control" id="MaxCredito" name="MaxCredito" asp-for="MaxCredito" placeholder="Plazo M&aacute;ximo de Cr&eacute;dito en A&ntilde;os" required>
                                <div class="invalid-feedback">Ingrese un valor v&aacute;lido.</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="Comision" class="form-label">Comisi&oacute;n Bancaria</label>
                                <input type="number" class="form-control" id="Comision" name="Comision" asp-for="Comision" placeholder="%" required>
                                <div class="invalid-feedback">Ingrese un valor v&aacute;lido.</div>
                            </div>
                        </div>
                    </div>

                    <label class="form-label">Porcentaje de Endeudamiento M&aacute;ximo</label>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="input-group-text">P&uacute;blico</div>
                                    <input type="number" class="form-control" placeholder="%" name="endeudamientoPublico" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="input-group-text">Privado</div>
                                    <input type="number" class="form-control" placeholder="%" name="endeudamientoPrivado" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="input-group-text">Profesional Independiente</div>
                                    <input type="number" class="form-control" placeholder="%" name="endeudamientoProfesional" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <div class="input-group">
                                    <div class="input-group-text">Trabajador Independiente</div>
                                    <input type="number" class="form-control" placeholder="%" name="endeudamientoIndependiente" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Seguro de Protecci&oacute;n al Desempleado</label>
                                <input type="number" class="form-control" placeholder="%" name="seguroDesempleo" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Seguro de Vida</label>
                                <input type="number" class="form-control" placeholder="%" name="seguroVida"  required>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label">Gastos de Honorarios de Abogados</label>
                            <input type="number" class="form-control" placeholder="%" name="HonorarioAbogado" asp-for="HonorarioAbogado" required>
                            <div class="valid-feedback">Excelente!</div>
                        </div>
                    </div>

                    <label class="form-label">Tasas de Inter&eacute;s</label>
                    <label class="form-label">Escenarios: </label>
                    <button type="button" class="btn btn-primary" id="addEscenario">+</button>
                    <div id="listaEscenarios">
                        <div class="row escenarios">
                            <div class="col">
                                <div class="card card-body">
                                    <h3 class="card-title">Escenario #1</h3>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <label class="form-label">Tipo de Tasa de Interés</label>
                                            <select class="form-select tipoInteres"
                                                    name="EscenariosTasaInteres[0].IdTasaInteres" required>

                                                @foreach (TasaInteres tasa in ViewBag.TasaInteres)
                                                {
                                                    <option value="@tasa.IdTasaInteres">@tasa.Nombre</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="col-md-3">
                                            <label class="form-label">Nombre del Escenario</label>
                                            <input type="text" class="form-control"
                                                   placeholder="Nombre"
                                                   name="EscenariosTasaInteres[0].Nombre" required>
                                        </div>
                                    </div>

                                    <br />

                                    <div class="row inputsEscenario">
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label">Plazo de Duración</label>
                                                <input type="number" class="form-control"
                                                       placeholder="Meses"
                                                       name="EscenariosTasaInteres[0].PlazosEscenarios[0].Plazo" required>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label">Porcentaje Adicional del Banco</label>
                                                <input type="number" class="form-control"
                                                       placeholder="%"
                                                       name="EscenariosTasaInteres[0].PlazosEscenarios[0].PorcAdicional" required>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label class="form-label">Indicador Bancario</label>
                                                <select class="form-select"
                                                        name="EscenariosTasaInteres[0].PlazosEscenarios[0].IdIndicador" required>
                                                    <option value="1">TBP</option>
                                                    <option value="2">SOFT</option>
                                                    <option value="3">TPR</option>
                                                    <option value="4">N/A</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="button-items botonesEscalonada"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="TipoCambio" class="form-label">Tipo de Cambio</label>
                        <input type="text" class="form-control" id="TipoCambio" name="TipoCambio" placeholder="Tipo de Cambio" required>
                    </div>

                    <div>
                        <div class="button-items">
                            <button class="btn btn-primary" type="submit">Guardar</button>
                            <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row escenarios" id="escenario-template" style="display:none;">
    <div class="col">
        <div class="card card-body">
            <h3 class="card-title">Escenario #x</h3>

            <button type="button"
                    class="btn btn-danger deleteEscenario">
                Eliminar Escenario
            </button>

            <div class="row">
                <div class="col-md-9">
                    <label class="form-label">Tipo de Tasa de Interés</label>
                    <select class="form-select tipoInteres"
                            name="EscenariosTasaInteres[0].IdTasaInteres" required>
                        @foreach (TasaInteres tasa in ViewBag.TasaInteres)
                        {
                            <option value="@tasa.IdTasaInteres">@tasa.Nombre</option>
                        }
                    </select>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Nombre del Escenario</label>
                    <input type="text" class="form-control"
                           name="EscenariosTasaInteres[0].Nombre" required>
                </div>
            </div>

            <br />

            <div class="row inputsEscenario">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Plazo de Duración</label>
                        <input type="number" class="form-control"
                               name="EscenariosTasaInteres[0].PlazosEscenarios[0].Plazo" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Porcentaje Adicional del Banco</label>
                        <input type="number" class="form-control"
                               name="EscenariosTasaInteres[0].PlazosEscenarios[0].PorcAdicional" required>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Indicador Bancario</label>
                        <select class="form-select"
                                name="EscenariosTasaInteres[0].PlazosEscenarios[0].IdIndicador" required>
                            <option value="1">TBP</option>
                            <option value="2">SOFT</option>
                            <option value="3">TPR</option>
                            <option value="4">N/A</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="button-items botonesEscalonada"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/libs/parsleyjs/parsley.min.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/js/escenariosbanco.js"></script>
}
