@{
    ViewBag.Title = "Estadísticas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using HermeSoft_Fusion.Models;
@model List<Venta>

@section styles {

    <!-- DataTables -->
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/libs/datatables.net-select-bs4/css//select.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalles de Proximos Cobros</h4>
                <p class="card-title-desc">
                    Esta es una tabla que detalla los proximos cobros que puede realizar el personal de ventas sobre las primas
                </p>

                <table id="key-datatable" class="table dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Código de Venta</th>
                            <th>Código de Lote</th>
                            <th>Asignado</th>
                            <th>Fecha Cobro</th>
                            <th>Monto</th>
                            <th>Estado</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var venta in Model)
                            {
                                @if (venta.Prima.DesglosesPrimas.Where(d => d.Estado == "Pendiente").ToList().Count() > 0 &&
                                                                     venta.Estado == "EN PROCESO")
                                {
                                    var proximoPendiente = venta.Prima.DesglosesPrimas.FirstOrDefault(d => d.Estado == "Pendiente");

                                    <tr>
                                        <td>@venta.CorreoCliente</td>
                                        <td>@venta.NumContrato</td>
                                        <td>@venta.CodLote</td>
                                        <td>
                                            @(venta.Prima.Asignado ? "Verdadero" : "Falso")
                                        </td>
                                        <td>@proximoPendiente.FechaCobro</td>
                                        <td>@proximoPendiente.Monto</td>
                                        <td>
                                            <span class="badge bg-warning rounded-pill px-3 py-2 me-2">
                                                @proximoPendiente.Estado
                                            </span>
                                        </td>
                                        <td>
                                            <a asp-controller="Prima"
                                                   asp-action="Detalle"
                                                   asp-route-idPrima="@venta.Prima.IdPrima"
                                                   class="btn btn-outline-primary btn-sm"
                                                   title="Ver detalle">
                                                <i class="fas fa-book-open"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }

                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8" class="text-center">No se encontraron pagos pendientes</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end row-->
@section scripts {
    <!-- Required datatable js -->
    <script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="~/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/libs/jszip/jszip.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/assets/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

    <script src="~/assets/libs/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/assets/libs/datatables.net-select/js/dataTables.select.min.js"></script>

    <!-- Responsive examples -->
    <script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="~/assets/js/pages/datatables.init.js"></script>

    <script src="~/assets/js/app.js"></script>
}